.last-section-input{
    width:100%;
    padding:8px;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}
.red-btn{
    width:100%;
    background-color:orangered;
    padding:10px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    border:none;
    margin-bottom:6px;
}
.red-btn:hover{
background-color:silver;
}